<br><body>
    <div align="center">
    <h1 align="center">如何使用AI法律助手</h1>
    <h2 align="center">簡單的三步驟</h2>
    <div class="col-lg-8 ">
    <h3>一鍵上傳，即刻得知判決勝率以及最接近判決書</h3>
    </div></div>
  <br>

<div class="bg">
  <div class="bg-2 container container-fluid">

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" align="center">
      <h2 class="featurette-heading textfont">Step 1
        <span class="text-muted textfont">進入法律助手主頁</span>
      </h2>
      <p class="lead textfont">
        本站將使用者區分為兩大族群:<br>
          ● 一般使用者:<br>輸入與「智慧財產權」有關的關鍵字<br>系統將提供您最符合的判決書。 
          <br>● 專業使用者:<br>可上傳一份判決書的文字檔(.txt)<br>本站將提供相近的判決書與勝敗機率。
      </p>
    </div>
    <div class="col-md-5 textfont">
      <img src="/assets/image/intro1.gif" class="featurette-image img-fluid mx-auto textfont">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading textfont">Step 2
        <span class="text-muted textfont">選擇你要上傳的判決書(txt)
        </span></h2>
      <p class="lead textfont">just wait and enjoy！根據你所上傳的判決書<br>由專業的法律助手根據過往的判決案例<br>為您預測勝敗訴，讓您一目了然
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/image/intro2.gif" >
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading textfont">Step 3 <span class="text-muted">
      只有預測而已嗎？當然不！！</span></h2>
      <p class="lead textfont">
        除了勝訴機率之外，法務助手還提供依據你所上傳的判決書<br>從資料庫中挑選最接近的數筆歷史判決，讓您鑑往知來！<br>在法院攻防戰中無往不利！
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/image/intro3.gif">
    </div>
  </div>
</div>