<!--<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators --
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0"></li>
    <li data-target="#demo" data-slide-to="1" class="active"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow --
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image/AAAA.jpg" alt="Los Angeles" style="width:100%;height:100%;">
    </div>
    <div class="carousel-item">
      <img src="/assets/image/BBBB.jpg" alt="Chicago" style="width:100%;height:100%;">
    </div>
    <div class="carousel-item">
      <img src="/assets/image/CCCC.jpg" alt="New York" style="width:100%;height:100%;">
    </div>
  </div>
  <!-- Left and right controls --
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>
-->

<div class="jumbotron jumbotron-fluid">
  <div class="box-2 container">
    <br><h2 style="color:white">AI Laws Assistant <br>for Intellectual Property Rights</h2>
    <br><h4 style="color:white; font-size:3vmin;">A website predict the decision for you <br> And save your valuable time</h4>
    <br><br><br><br><br><br><br>
    <p></p>
  </div>
  <a [routerLink]="['/legal-assistant']" class="btn btn-lg btn-secondary textfont" style="font-size: 3vmin">立即開始</a>
</div>

<div class="bg-1">
  <div class="bg-2 container container-fluid">
<!--1-->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7" align="center">
      <h2 class="textfont">搜尋功能</h2>
      <h4 class="content textfont">
       直觀且完善的搜尋功能<br>依照使用者性質精心打造，隨時供您使用。
      </h4>
    </div>
    <div class="col-md-5 textfont">
      <img class="featurette-image img-fluid mx-auto" src="/assets/image/banner1.png" style="height: 100%; width: 100%">
    </div>
  </div>
<!--2-->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="textfont">相關法條 </h2>
      <h4 class="content textfont" style="color: black" align="center"> 不必再從厚厚一疊判決書中盲目翻找<br>本站直接幫您整理出相關法條！</h4>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/image/banner2.png" style="height: 100%; width: 100%">
    </div>
  </div>
<!--3-->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5">
      <h2 class="textfont">最接近結果</h2>
      <h4 class="content textfont">直接為您秀出歷年判決書中最接近結果<br>節省您的寶貴時間。</h4>
    </div>
    <div class="col-md-6">
      <img class="featurette-image img-fluid mx-auto" src="/assets/image/banner3.png" style="height: 100%; width: 100%">
    </div>
  </div>
<!--4-->
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="textfont">法律機器人</h2>
      <h4 class="content textfont">現在即可透過本站運用AI人工智慧技術訓練的法律機器人<br>替您預測官司審判結果！</h4>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/image/banner4.png" style="height: 100%; width: 100%">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row">
     <div class="col-lg-3"></div>
     <div class="col-lg-6">
       <h2 class="textfont">關於準確度</h2>
       <br>
       <img class= 'frame img-fluid' style="height: 65%; width:45%" src="/assets/image/75.4.png" alt="">
       <h4 class="textfont">法律助手的準確度</h4>
     </div>
     <div class="col-lg-3"></div>
   </div>

   <hr class="featurette-divider">
   <div class="row">
      <div class="col-lg-1 "></div>
      <div class="col-lg-10">
          <h2 class="textfont">針對勝訴以及敗訴計算的法律助手準確度</h2>
          <br>
          <div class="row">
              <div class="col-sm-6">
                <img class='frame img-fluid' style="height: 78%; width:55%" src="/assets/image/59.6.png">
                <h4 class="textfont">預測已知勝訴判決書之準確度</h4>
              </div>
              <div class="col-sm-6">
              <img class='frame img-fluid' style="height: 78%; width:55%" src="/assets/image/91.2.png">
              <h4 class="textfont">預測已知敗訴判決書之準確度</h4>
              </div>
          </div>  
      </div>
      <div class="col-lg-1"></div>
    </div>

  <hr class="featurette-divider">
  <div class="center">
  <div class="row">
    <div class="col-lg-4 "></div>
    <div class="col-lg-4">
      <p class="textfont" style="font-size: 3vmin">想了解更多?</p>
      <p class="textfont" style="font-size: 3vmin">立即按下按鈕</p>
      <p><a style="font-size: 3vmin" class="btn btn-secondary textfont" [routerLink]="['/introduction']" role="button">查看更多 &raquo;</a></p>
    </div>
    <div class="col-lg-4"></div>
  </div>
  </div>

  </div>
  </div>

  <div align='center' class="aboutUs img-fluid">
    <p><mark class="bottom">About Us</mark></p>
    <p><mark class="bottom">AI Laws Assistant for Intellectual Property Rights</mark></p>
    <p><mark class="bottom">Made by NTPU CSIE</mark></p>
  </div>
  <!-- end-->