<!--
<p>
  profession works!
</p>
-->
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="box">
      <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..." />
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <textarea style="background-color:#fafafa; height: 400px; width: 250px" placeholder="歷史紀錄"></textarea>
  </div>
  <div class="col-sm-6">
    <textarea style="background-color:#fafafa; height: 400px; width: 530px" placeholder="判決書結果"></textarea>
  </div>
  <div class="col-sm-3">
    <textarea style="background-color:#fafafa; height: 400px; width: 300px" placeholder="相關法條"></textarea>
  </div>
</div>
