<br>
<div align="center" class="container">
  <div align="center">
    <div class="row"><div class="col-3"></div>
      <div class="col-3">
        <div class="hovereffect">
          <a routerLink="/legal-assistant/fileopen">
        <img class="img-responsive" src="/assets/image/book.png" alt="" style="width: 30%; height: 30%;"></a>
          <div class="overlay">
            <a routerLink="/legal-assistant/fileopen">
            <h2>判決書檢索</h2></a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="hovereffect">
          <a routerLink="/legal-assistant/general">
        <img class="img-responsive" src="/assets/image/talk.png" alt="" style="width: 30%; height: 30%;"></a>
          <div class="overlay"><a routerLink="/legal-assistant/general">
            <h2>關鍵字檢索</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div align="center" class="container">
<router-outlet align="center" class="container"></router-outlet>
</div>